@model Livro
<header>
    <style>
        .form-group {
            width: 250px;
        }
        .form-control{
            margin-bottom: 30px;
        }
    </style>
</header>
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
            <input asp-for="Titulo" class="form-control" id="titulo" required/>
        </div>
        <div class="form-group">
            <label asp-for="Autor">Autor</label>
            <input asp-for="Autor" class="form-control" id="autor" required/>
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" id="ano" required/>
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary" id="botao"/>
    </form>
</div>